root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_size = 4
tab_width = 4
indent_style = space

[*.{c, cpp, h, hpp, cxx, hxx, rs, go, java}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_size = 4
tab_width = 4
indent_style = space

[*.{yaml, json}]
charset = utf-8
end_of_line = lf
insert_final_newline = false
indent_size = 2
tab_width = 2
indent_style = space

[Makefile]
indent_style = tab
indent_size = 8
tab_width = 8

[*.mk]
indent_style = tab
indent_size = 8
tab_width = 8
